%section
	.container
		%h2.text-center Projects You Support
		.section-content
			.owl-carousel#owl-projects-you-support
		.section-footer
			%p.text-center
				%a.btn.btn-primary.btn-lg.btn-outline{href:"#"} Explore All