- content_for :javascripts do 
  = javascript_include_tag "hatchy/dashboard"
.row
  - unless @my_projects.empty?
    = render "your_projects"
.row
  - unless @contributions.empty?
    = render "contributions"