- content_for :javascripts do 
  = javascript_include_tag "hatchy/projects/contributions/edit_contribution"
.row
  %section
    .container
      .col-md-12
        = render "hatchy/projects/contributions/billing"
        = render "hatchy/projects/contributions/payment"