#posts-view.col-md-12.posts.hidden
	- authorized_posts(current_user, @project).each do |post|
		.post-card
			= link_to post.title, project_post_path(@project, post)
			%p= "Created at #{post.created_at.strftime("%m/%d/%Y - %l:%M%p")}"