.content-wrapper
  .container-fluid
    .row
      .text-center
        %h1 Contributions
      %hr
    .row
      .col-md-12
        = render 'hatchy/admin/shared/admin_navtabs', list_view: admin_contributions_path, new_view: ""
        %table.table.table-condensed.table-striped.ajax-data-table{width:'100%', data:{source:admin_contributions_url(format: :json)}}
          %thead
            %tr
              %th Id
              %th Project
              %th Project Owner
              %th Contribution Owner
              %th Reward
              %th Value
              %th Status
              %th Controls
          %tbody