.content-wrapper
  .container-fluid
    .row
      .text-center
        %h1 Contributions
      %hr
    .row
      .col-md-12
        = render 'hatchy/admin/shared/admin_navtabs', list_view: admin_contributions_path, new_view: ""
        %table.table.table-condensed.table-striped.ajax-data-table{data:{source:admin_contributions_url(format: :json)}}
          %thead
            %tr
              %th Id
              %th Project
              %th Owner
              %th Reward
              %th Anonymous
              %th IP Address
              %th Card Type
              %th Value
              %th Status
          %tbody