.row
  %section
    .container
      .row
        .text-center
          %h2 Contributions history
          %p A place to keep track of all your backed projects
      %br
      = render "active_pledges"
      = render "collected_pledges"