.content-wrapper
  .container-fluid
    .row
      .text-center
        %h1 New Bank
      %hr
    .row
      .col-md-12
        = render 'hatchy/admin/shared/admin_navtabs', list_view: admin_banks_path, new_view: new_admin_bank_path
        = render 'hatchy/admin/shared/model_form', resource: @bank